<div class="row">
  <div class="span6">
    <%= form_for @tinysong, :url => "", :method => :get, :class => "form-search" do |f| %>
      <%= f.text_field :keyword, :class => "input-medium search-query" %>
      <button type="submit" class="btn">Search</button>
    <% end %>
    <ul class="unstyled">
      <% @tinysong.songs.each do |song| %>
        <li>
          <div class="pull-right">
            <a href="#" class="btn-play" data-songid="<%= song.id %>">Play</a>
          </div>
          <b>Artista:</b> <%= song.artist_name %><br>
          <b>Album:</b> <%= song.album_name %><br>
          <b>Título:</b> <%= song.song_name %><br>
          <hr>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span6">
    <h2>Playlist</h2>
  </div>
</div>

<div class="player-skin">
  <div class="row">
    <div class="span12">
      <div class="player-wrapper">
        <div id="player"></div>
        <a href="#" id="player_play" class="btn">Play</a>
        <a href="#" id="player_pause" class="btn">Pause</a>
        <a href="#" id="player_stop" class="btn">Stop</a>
        <a href="#" id="player_volume_up" class="btn">+Vol</a>
        <a href="#" id="player_volume_down" class="btn">-Vol</a>
        <span class="label pull-right" id="duration"></span>
        <br />
        <br />
        <div class="progress progress-info">
          <div id="position_bar" class="bar"></div>
        </div>
        <script>
          swfobject.embedSWF("http://grooveshark.com/APIPlayer.swf", "player", "0", "0", "9.0.0", "", {}, {allowScriptAccess: "always"}, {id:"groovesharkPlayer", name:"groovesharkPlayer"}, function(e) {
            var element = e.ref;
            if (element) {
              setTimeout(function() {
                window.player = element;
                window.player.setVolume(50);
                }, 1500);
            } else {
              // Couldn't load player
              // Play sad trombone
            }
          });
        </script>
      </div>
    </div>
  </div>
</div>
